body {
  font-family: Arial;
  background: #1e293b;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  background: #0f172a;
}

header a {
  color: #38bdf8;
  text-decoration: none;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.card {
  background: #334155;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  background: #38bdf8;
  transform: scale(1.05);
}